<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <style media="screen">
            h1 {
                color: darkgreen;
                font-style: arial;
            }
            .new {
                background-color: red;
            }
            .login {
                background-color: green;
            }
            body {
                color: lightgrey;
            }
            button {
                text-align: center;
                font-size: 20px;
            }

        </style>
    </head>
    <body>
        {%block body%}
        {%endblock%}

        {%block footer%}{%endblock%}
    </body>
</html>
