<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <style media="screen">
            h1 {
                color: darkgreen;
                font-style: arial;
            }
            .new {
                background-color: red;
            }
            .login {
                background-color: green;
            }
            body {
                color: lightgrey;
            }
            button {
                text-align: center;
                font-size: 20px;
            }
        </style>

        <title>{% block title%}{%endblock%}</title>
    </head>
    <body>
        {%block header%}{%endblock%}

        {%block body%}
        {%endblock%}

        <form action="{{url_for('logout')}}" method="post">
            <button>LOGOUT</button>
        </form>
    </body>
</html>
